{% extends 'base.html.twig' %}

{% block title %}Listes des sites{% endblock %}

{% block main %}
    <h1>Hey cette page est accessible que si tu es admin ? !!!</h1>
    <h2>Les sites sont rattachés aux utilisateurs, et renseignés dans le profil</h2>

    <h2>Un utilisateur est relié à un site, c'est comme sa ville de résidence</h2>
    <h2>Un site possède plusieurs utilisateurs</h2>

{% endblock %}
