{% extends 'base.html.twig' %}

{% block title %}Listes des villes{% endblock %}

{% block main %}
    <h1>Hey cette page est accessible que si tu es admin ? !!!</h1>
    <h2>La ville est le lieu où la sortie est organisée</h2>
    <h2>Une ville possède plusieurs sorties</h2>
    <h2>Une sortie ne peut se dérouler que dans une seule ville</h2>
{% endblock %}
