body{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

footer{
    position: sticky;
    top: 80%;
    margin-top:30px;
    background: #155263;
    color:white;
}

h1{
    text-shadow: -1px 6px 5px rgba(21, 82, 99, 0.8);
    color: #155263;
}

.bg-light {
    background-color: transparent !important;
}

.nav-link{
    color: #155263;
}
.nav-link:focus, .nav-link:hover {
    color: #ff9a3c;
}
/**********CSS texte sur le formulaire de connexion***************/
.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 20px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
/*************************/
a:hover {
    color: black;
    font-weight: bolder;
}

a {
    color: black;
    text-decoration: none;
}
#filtresSortie{
    padding-left: 50px;
    padding-right: 200px;
}
.form-group .col-xs-2
{
    width: 300px;
    margin-top:10px;
    margin-bottom: 10px;
}
.form-group label
{
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    float: none;
}

.form-group select
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* CSS button */
.button-53 {
    background-color: #155263;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-53 {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}
 /* CSS pour button */
 .button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
 }

.button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}

/*Image*/
.icon{
    width: 5%;
}
/*Tableau des sorties * */
.table{
    border-color: #ffc107;
    width: 90%;
    box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 50%);
    margin-left: auto;
    margin-right: auto;
}

.table>thead {
    background-color: #ffc107;
    color: white;
}
.tab-sortie-date{
    width:200px;
}
.tab-sortie-nom{
    width:300px;
}
.sortie-participants{
    width: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

.sortie-participants h2{
    color:#155263;
}

#bnt-backtolist{
    width: 15%;
    margin-bottom:50px;
}
.sortie-detail{
    border-color: #ffc107;
    width: 90%;
    box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 50%);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

/*page profil view */

.profil_view_element_title
{
    text-align: right;
}

.profil_view_element_view, .profil_view_element_title
{
    width: 50%;
    padding : 1%;
}

#view_table
{
    width: 50%;
    margin : auto;
    height: 100%;
}

.update_profil_button
{
    text-align: center;
}

.a_centrer
{
    text-align:center;
}

div.scroll {
    margin-left:auto;
    margin-right:auto;
    width: 1500px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

table, th, td {
    border: 1px solid;
}
/*twig New sorties*/
.frame-form{
    border-color: #ffc107;
    width: 90%;
    box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 50%);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}
/*******/