{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <form action="{{ path('app_profil_update') }}" method="post">
    <button > MODIFIER SON PROFIL</button>
    </form>
{% endblock %}

