{% extends 'base.html.twig' %}

{% block title %}Mon profil !{% endblock %}

{% block main %}
    {{ form_start(formUser) }}

    <button class="button-52"> Mettre un jour le profil</button>
    {{ form_end(formUser) }}

{% endblock %}
