{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main %}
    {{ form_start(formUser) }}

    <button class="button-52"> creer un utilisateur</button>

    {{ form_end(formUser) }}

{% endblock %}
