{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/modal.css') }}">
    <script src="{{ asset('js/admin.js') }}" defer></script>
{% endblock %}

{% block main %}

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Créer un utilisateur</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            {{ form_start(formUser) }}

            <button class="button-52 "> Valider</button>

            {{ form_end(formUser) }}
        </div>

    </div>
{% endblock %}
