{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block main %}
    <div class="frame-form">
        <h1>Edit Sortie</h1>
        {{ include('sortie/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <button class="button-52" role="button"><a href="{{ path('app_sortie_index') }}">back to list</a></button>
    <button class="button-52" role="button"><a href="{{ path('app_sortie_lieu') }}">Ajouter lieu</a></button>
    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
