{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block main %}
<main>
    <div class="row container-fluid">
        <div class="row frame-form">
            <h1>Créer une nouvelle sortie</h1>
            {{ include('sortie/_form.html.twig') }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="button-52" role="button"> <a href="{{ path('app_sortie_lieu') }}">Ajouter lieu</a></button>
            </div>
            <div class="col-md-6">
                <button class="button-52" role="button"> <a href="{{ path('app_sortie_index') }}">Retour</a></button>
            </div>
        </div>
    </div>
</main>
{% endblock %}
