<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Vous avez généré une erreur, cliquez  sur Accueil pour quitter cette page</h1>
<img src="{{ asset('img/loup.jpg') }}" alt="image d'erreur ">

<a class="nav-link" href="{{ path('app_sortie_index') }}">Accueil</a>

</body>
</html>