<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Désolé, vous n'avez pas le droit d'accéder à cette page.</h1>
<img src="{{ asset('img/erreur404.png') }}" alt="image d'erreur ">

<a class="nav-link" href="{{ path('app_sortie_index') }}">Accueil</a>
<a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
</body>
</html>